@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        @if (User.Identity.IsAuthenticated)
        {
            <button type="button" class="btn btn-outline-secondary">
                <a asp-controller="Vehicles" asp-action="ViewFavorites">View your favorites</a>
            </button>
        }
    </div>
